* {
    padding: 0;
    margin: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    overflow: hidden;
    line-height: normal;
     background: url(../img/bg.png) center/cover no-repeat;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    letter-spacing: normal;
    min-width: 320px;
}

.wrapper {
    height: inherit;
    padding: 30px 20px;
    margin: 0 auto;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    margin-top: 20px;
	color: white;
}

a {
  background-color: #transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #71beff;  
}

.header__social {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
}

.social-item svg {
    width: 26px;
    height: 26px;
}

.social-item:not(:last-child) {
    margin-right: 34px;
}

.social-item_eser svg {
    fill: #000000;
}

.social-item_eser svg:hover {
    fill: #5fbaaa;
}

.social-item_open svg {
    fill: #000000;
}

.social-item_open svg:hover {
    fill: #5fbaaa;
}

.social-item_twitter svg {
    fill: #000000;
}

.social-item_twitter svg:hover {
    fill: #5fbaaa;
}

.header__wr-bnt {
    margin-left: 47px;
}

.header__btn {
    background-color: #f563ac;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
}

.header__btn:hover {
    background-color: #71beff;
}

.main {
    margin-top: 1.5vw;
}

.main__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gif {
    position: relative;
    width: 31.7%;
    padding-bottom: 31.7%;
    font-size: 0;
    margin: 0;
    line-height: 0;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

.main .container {
    max-width: 1200px;
}

.gif img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.form {
    box-shadow: transparent;
    background-color:transparent;
    border: none;
    max-width: 700px;
    width: 100%;
    padding: 1px 34px;
    margin-right: 20px;
    opacity: 100%;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__title {
    background-color: none;
    color: #bbcdfd;
    font-size: 38px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;

}

.form__text {
    margin-top: 20px;
    color: #f563ac;
    font-size: 22px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.form__number {
    color: #ffffff;
    margin-top: 20px;
    font-size: 50px;
    font-weight:700;
    font-family: "Open Sans", sans-serif;
}

.form__info {
    background-color: none;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
}

.in {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    color: #000000;;
    font-size: 22px;
    border: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.lab {
    width: 100px;
    margin: 0 16px;
    font-weight: 700;
    position: relative;
}

.lab span {
    position: absolute;
    top: 45%;
    color: #000000;
    font-size: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-f {
    width: 50px;
    height: 50px;
    background-color: #717eeb;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-f:hover {
    background-color: #361068;
}

.row-btn {
    align-items: center;
    margin: 34px -15px 0 -15px;
}
.row-btn .btn-form {
    margin: 0 15px;
}

.form__rows {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.form__btn-bot {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.btn-form {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 1px 1px;
    text-align: center;
    color: #00ff24;
    font-size: 44px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.btn-form:hover {
    text-decoration: underline;
}

.form__text-bottom {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
}

@media (max-width: 1440px) {
    .header__logo img {
        max-width: 80%;
    }

    .form {
        padding: 34px 34px;
    }

    .rows {
        margin-top: 10px;
    }

    .form__text {
        margin-top: 15px;
    }

    .form__number {
        margin-top: 16px;
    }

    .form__info {
        margin-top: 10px;
    }

    .form__text-bottom {
        margin-top: 10px;
    }

    .form__btn-bot {
        margin-top: 10px;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 20px;
    }
    .header__btn {
        font-size: 20px;
        padding: 12px 40px;
    }
    .main {
        margin-top: 30px;
    }
    .form {
        max-width: 556px;
    }
}

@media (max-width: 992px) {
    .social-item:not(:last-child) {
        margin-right: 20px;
    }
    .header__wr-bnt {
        margin-left: 20px;
    }
    .main {
        margin-top: 15px;
    }
    .form__number {
        font-size: 34px;
    }
    .form__rows {
        flex-direction: column;
    }
    .form__btn-bot {
        margin-left: 0;
    }
    .gif {
        padding-bottom: 38.3%;
    }
    .form {
        max-width: 454px;
    }
    .form__rows {
        margin-top: 0;
    }
}

@media (max-width: 810px) {
    .gif {
        padding-bottom: 35.3%;
    }
}

@media (max-width: 767px) {
    .header__row {
        flex-wrap: wrap;
    }
    .header__logo {
        order: 0;
        width: 100%;
    }
    .header__social {
        order: 2;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    .header__wr-bnt {
        order: 1;
        width: 46%;
        display: flex;
        justify-content: flex-end;
    }
    .form {
        padding: 14px 14px;
    }
    .form__title {
        font-size: 20px;
    }
    .form__text {
        font-size: 14px;
    }
    .form__info {
        font-size: 14px;
    }
    .btn-form {
        font-size: 14px;
        padding: 11px 32px;
    }
    .header__btn {
        font-size: 14px;
        padding: 11px 32px;
    }
    .form__text-bottom {
        font-size: 14px;
    }
    .lab {
        width: 140px;
    }
    .gif {
        display: none;
    }
    .form {
        max-width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 360px) {
    .header__btn {
        padding: 11px 25px;
    }
}